<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
        <title>TODOS LOS PRODUCTOS</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/styles-products.css">
</head>
<body>
    <%- include("../partials/header") %>

        <main>
            <section class="galeria-producto">
            
                <% productos.forEach(function(item) {%> 

                    <div class="art-galeria-producto">
                  <img class="img-galeria-producto" src="../../<%- item.img %>"/><br>
                <div class="detalles-producto">
                <%-item.nombreArticulo%><br>


                <p>$<%-item.precioArticulo%><br></p>

                    
                        </div>
                            <a href="/products/<%- item.id%>" class="boton-ver-producto">VER</a>
                        </div>

                
                <%}) %>
                



            </section>
        </main>


        <%- include("../partials/footer") %>
</body>
</html>