<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>

    <title>Editar Producto</title>
    <link rel="stylesheet" href="/css/styles-edit.css">

</head>



<body>
    <%- include("../partials/header") %>
    
    <main class="main-add">

        <ul class="header-sec-edit">
            <li class="ruta_edit"><a href='/'>HOME    /</a></li>
            <!--<li class="ruta_edit"><a href=#> <%= categoria %>    /</a></li> -->
            <li class="ruta_edit"><a href="/products"> VER TODOS    /</a></li>
            <li class="ruta_edit"> <%= nombreArticulo %>   /</li>
            <li class="ruta_edit"> EDITAR</li>
        </ul>

        <p class="titulo-add">Editar Producto</p>

        <section class="formulario-add">
        
            <form action="/products/edit/<%= id %>?_method=PUT" method="POST" enctype="multipart/form-data" class="control-formulario-add">
                
                        <div class='seccion-add'>
                            <label>Categoría</label><br>
                            <select name="titulo" name = "categoria" placeholder="Categoría" class="control">
                                <option disabled="true" selected="true" value="">Categoría</option>
                                <option value="botas">Botas</option>
                                <option value="sandalias">Sandalias</option>
                                <option value="zapatillas">Zapatillas</option>
                                <option value="mocasines">Mocasines</option>
                                <option value="zapatos">Zapatos</option>
                            </select>
                        </div>
        
                        <div class='seccion-add'>
                            <label>Nombre de artículo</label><br>
                            <input type="text" name="nombreArticulo" value='<%= nombreArticulo %>' required class="control">
                        </div>

                        <div class='seccion-add'><label>Número de Artículo</label><br>
                            <input type="number" name="numeroArticulo" value='<%= numeroArticulo %>' required class="control">
                        </div>

                        <div class='seccion-add'><label>Descripción</label><br>
                            <input type="textarea" name="descripcion" value='<%= descripcion %>'required class="control">
                        </div>

                        <div class='seccion-add'>
                            <label>Precio</label><br>
                            <input type="number" name="precioArticulo" value='<%= precioArticulo %>' required class="control">
                        </div>

                        <div class='seccion-add'><label>Colores</label><br>
                            <div class="control">
                                <div class='opc-talles-add'>
                                    <input type='checkbox' name='colores' value="Azul" class="selecc-talles-add">
                                    <label for='35' class=''>Azul</label>
                                </div>

                                <div class='opc-talles-add'>
                                    <input type='checkbox' name='colores' value='Negro'  class="selecc-talles-add">
                                    <label for='36' class=''>Negro</label>
                                </div>

                                <div class='opc-talles-add'>
                                    <input type='checkbox' name='colores' value='Camel'  class="selecc-talles-add">
                                    <label for='37' class=''>Camel</label>
                                </div>

                                <div class='opc-talles-add'>
                                    <input type='checkbox' name='colores' value='Marron'  class="selecc-talles-add">
                                    <label for='38' class=''>Marron</label>
                                </div>

                                <div class='opc-talles-add'>
                                    <input type='checkbox' name='colores' value='Blanco'  class="selecc-talles-add">
                                    <label for='39' class=''>Blanco</label>
                                </div>

                                <div class='opc-talles-add'>
                                    <input type='checkbox' name='colores' value='Rojo'  class="selecc-talles-add">
                                    <label for='40' class=''>Rojo</label>
                                </div>

                                <div class='opc-talles-add'>
                                    <input type='checkbox' name='colores' value='Verde'  class="selecc-talles-add">
                                    <label for='41' class=''>Verde</label>
                                </div>
                        </div>

                        <div class='seccion-add'><label>Talles Disponibles</label><br>
                            <div class="control">
                                <div class='opc-talles-add'>
                                    <input type='checkbox' name='talle' value='35' id="35" class="selecc-talles-add">
                                    <label for='35' class=''>35</label>
                                </div>

                                <div class='opc-talles-add'>
                                    <input type='checkbox' name='talle' value='36' id="36" class="selecc-talles-add">
                                    <label for='36' class=''>36</label>
                                </div>

                                <div class='opc-talles-add'>
                                    <input type='checkbox' name='talle' value='37' id="37" class="selecc-talles-add">
                                    <label for='37' class=''>37</label>
                                </div>

                                <div class='opc-talles-add'>
                                    <input type='checkbox' name='talle' value='38' id="38" class="selecc-talles-add">
                                    <label for='38' class=''>38</label>
                                </div>

                                <div class='opc-talles-add'>
                                    <input type='checkbox' name='talle' value='39' id="39" class="selecc-talles-add">
                                    <label for='39' class=''>39</label>
                                </div>

                                <div class='opc-talles-add'>
                                    <input type='checkbox' name='talle' value='40' id="40" class="selecc-talles-add">
                                    <label for='40' class=''>40</label>
                                </div>

                                <div class='opc-talles-add'>
                                    <input type='checkbox' name='talle' value='41' id="41" class="selecc-talles-add">
                                    <label for='41' class=''>41</label>
                                </div>

                                <div class='opc-talles-add'>
                                    <input type='checkbox' name='talle' value='42' id="42" class="selecc-talles-add">
                                    <label for='42' class=''>42</label>
                                </div>
                            </div>
                        </div>
                            
                        <div class='seccion-add'><label>Imágenes</label><br>
                            <input type="file" name="productPhoto" accept=”.jpg” multiple required value='<%= img%>' class="control">
                        </div>
                       
                        <div class="botones-add">
                            <div class='boton-add'>
                                <button type="submit" class="submit-add" value='update' color=white background-color=black>GUARDAR CAMBIOS</button>
                            </div>

                        </div>
         
        </section>
       
        <%- include('../partials/whatsappIcon') %>

    </main>

    <%- include('../partials/footer') %>

</body>

</html>