<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
    <title>Producto</title>
    <link href='/css/styles-pd.css' rel ='stylesheet'>
</head>

<body>
    <%- include("../partials/header") %>

    <main class="main_pd">
        <nav class="contenedor_ruta_pd"></nav>

            <ul class="linea_de_rutas_pd">
                <li class="ruta_pd"><a href='/'>HOME    /</a></li>
                <!--<li class="ruta_pd"><a href=#><%= categoria %>    /</a></li> -->
                <li class="ruta_pd"><a href=#>VER TODOS    /</a></li>
                <li class="ruta_pd"><%= nombreArticulo %></li>
            </ul>

        <div class="secciones_verticales_pd">
        
            <div class="imagenes_pd">

            <ul class="contenedor_galeria_pd">
                <li><img class='imagen_galeria_pd' src=<%= img %>></li>
                <li><img class='imagen_galeria_pd' src=<%= img %>></li>
                <li><img class='imagen_galeria_pd' src=<%= img %>></li>
                <li><img class='imagen_galeria_pd' src=<%= img %>></li>   
            </ul>

            <section class="contenedor_imagen_ppl_pd">
                <img class='imagen_ppl_pd' src= <%= img %>>
            </section>
            </div>

            <section class="detalles_pd">

            <div class="contenedor_detalles_pd">
                <h1 class="nombre_producto_pd"><%= nombreArticulo %></h1>

                <h6 class="art_pd">Art. <%= numeroArticulo %></h6>



                <h3 class="precio_pd">$<%= precioArticulo %></h3>

                <label class="seleccion_color_pd">Color<br>
                    <div class="colores_pd">
                        <p class="seleccion_color1_pd"></p>
                        <p class="seleccion_color2_pd"></p>
                        <p class="seleccion_color3_pd"></p>
                    </div>
                </label><br>

              <label class="seleccion_talle_pd"> </label>
             Talle <br>
                    <div class="talles_pd">
                            <select name = "talles" 
                            class= "control <%= locals.errors && locals.talles? is-invalid : null  %>"
                                >
                    

                     <div class="contenedor_talle_pd"> 
                        <option value=""><strong> Talles</strong></option><br>
                            
                            <%  
                            let talles = ["35", "36", "37", "38", "39", "40", "41", "42"]
                            %>
                            <% for(const unTalle of talles) { %>
                                <option 
                                value ="<%=unTalle %>" 
                                <%= locals.oldData && (unTalle === oldData.talles)? 'selected' : null %>
                                > <%= unTalle %> </option>
                           <% } %>
                            </select>

                     
                    </div>

                    <!--
                    <input type="radio" name='talle' value=35 class="talle_35_pd">
                    <input type="radio" name='talle' value=36 class="talle_36_pd">
                    <input type="radio" name='talle' value=37 class="talle_37_pd">
                    <input type="radio" name='talle' value=38 class="talle_38_pd">
                    <input type="radio" name='talle' value=39 class="talle_39_pd">
                    <input type="radio" name='talle' value=40 class="talle_40_pd">
                    <input type="radio" name='talle' value=41 class="talle_41_pd">
                    <input type="radio" name='talle' value=42 class="talle_42_pd">
                    -->
                </label><br>

            </div>

            
            <div class="botones_pd">
                <a href=# class="boton_envio_pd">Envío express 2 días ></a><br>

                <button type="submit" class="boton_comprar_pd"><a href='/cart'>COMPRAR</a></button><br>
            </div>

            <% if (user.categoria == 'admin') { %>
             <div class="botones_pd">
                <a href="/products/edit/<%= id %>" class="boton_envio_pd">Editar Producto</a><br>

            </div>
            <% } %>

            <div class="contenedor_detalles2_pd">
                <div class="iconos">
                    <i class="fa-regular fa-heart"></i>
                    <i class="fa-solid fa-share-nodes"></i>
                </div>
                
                <div class="acordeon_pd">
                    <!--guia para hacer el acordeon: https://www.youtube.com/watch?v=XGyTnLoGOX0&ab_channel=EduardoFierro-->
                    <div class="bloque_pd">
                        <h2 class="h2_acordeon_pd">DESCRIPCIÓN</h2>
                        <p class="contenido_pd"><%= descripcion %></p>
                    </div>

                   <!-- <div class="bloque_pd">
                        <h2 class="h2_acordeon_pd">TITULAR</h2>
                        <p class="contenido_pd">Soy el contenido del bloque 2</p>
                    </div>

                    <div class="bloque_pd">
                        <h2 class="h2_acordeon_pd">TITULAR</h2>
                        <p class="contenido_pd">Soy el contenido del bloque 3</p>
                    </div>
                    -->
            
                </div>
                    

            </div>
            </section>
        </div> 

        <%- include('../partials/intereses') %>

        <%- include('../partials/whatsappIcon') %>
    </main>

    <%- include("../partials/footer") %>
    
</body>
</html>
