<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <title>TODOS LOS PRODUCTOS</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <%- include("../partials/header") %>

    <main>
        <section class="galeria_home">
         
          
          <% productos.forEach(function(item)
          {%> 
            <img src="../../<%- item.img %>"/><br>
            <%-item.nombreArticulo%><br>
          
           <p>$<%-item.precioArticulo%><br></p>
         
            
            <%}) %> 

            
        </section>

    </main>


    <%- include("../partials/footer") %>
    
</body>
</html>

