<!DOCTYPE html>
<html lang="en">
<head>

    <title>Bienvenida a Suola</title>
    <%- include('./partials/head') %>
</head>

<body>

    <%- include('./partials/header') %>

    <main class="main_home">

        <section class="seccion_principial">
            <img class="imagen_ppl_home" src="images/banner_home.jpg" alt="">
            <a href='./products' class="boton_ppl_home">VER TODOS</a>
        </section>
    
        <section class="galeria_home">
            <article class="art_galeria_home">
                <img class="imagen_galeria_home" src="images/sandalias1.jpg" alt="">
                <a href='./products/'+ id class="boton_galeria_home">FRESCURA</a>
            </article>
    
            <article class="art_galeria_home">
                <img class="imagen_galeria_home" src="images/chatitas1.jpg" alt="">
                <a href='./products/'+ id class="boton_galeria_home">CONFORT</a>
            </article>
    
            <article class="art_galeria_home">
                <img class="imagen_galeria_home" src="images/botas1.jpg" alt="">
                <a href='./products/'+ id  class="boton_galeria_home">CALIDEZ</a>
            </article>
            
        </section>

        <%- include('../partials/intereses') %>

        <%- include('../partials/whatsappIcon') %>

    </main>

    <%- include('../partials/footer') %>
   

</body>
</html>