<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link rel='stylesheet' href="/css/styles-profile.css">
    <title>Log in</title>
</head>

<body>
    
    <%- include("../partials/header") %>

<main>

    <h2 class="usuario"> ¡Hola, <%= user.name %>!</h2>

    <img class="foto" width= 100px  src='<%= user.userPhoto %>' >  

    <p class="email"> <%= user.email %></p>

    <a href ='/' class="home">Comenzar a comprar</a><br>

    <a href ='./logout' class="home">Cerrar sesión</a>

</main>

<%- include("../partials/footer") %>

</body>

</html>