<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <title>Registro</title>
    <link rel="stylesheet" href="/css/styles-register.css">

</head>

<body>
    <%- include("../partials/header") %>

    <section class="header-sec-register">
        <a href="/" class="link-ahome"><strong>HOME /</strong></a>
        <a href class="link-alogin"><strong>REGISTRARSE</strong></a>
        <h1 class="registrarse"><strong> Registrarse</strong></h1>
    </section>


    <main class="main-register">
        

        <section class="todo-registro">
        
            <form action="/user/register" id = "register-form" method="POST" enctype="multipart/form-data" class="control-formulario">
                
                        <div class="titulo-reg">

                            <label><strong> Título </strong></label><br>
                            <select name="titulo" name="titulo" placeholder="Seleccione" class="control">
                            <option disabled="true" selected="true" value="">Seleccionar</option>
                            <option value="Sr">Sr</option>
                            <option value="Sra">Sra</option>
                            </select>
                        </div>
        
                        <div class="nombre-reg">
                            <label><strong>Nombre</strong></label><br>
                            <input type="text" 
                            name="name" 
                            placeholder="Por favor ingrese su nombre" 
                                class="control <%= locals.errors && locals.name ? is-invalid : null  %>"
                                value ="<%= locals.oldData ? oldData.name : null %>"
                                >
                                <% if (locals.errors && errors.name) { %>
                                 <div class = "textDanger">
                                     <%= errors.name.msg %> 

                                 </div>
                                <% } %>
                        </div>

                        <div class="apellido-reg"><label><strong>Apellido</strong></label><br>
                            <input type="text" name="lastName" placeholder="Por favor ingrese su apellido" 
                                class="control <%= locals.errors && locals.lastName ? is-invalid : null  %> "
                                value ="<%= locals.oldData ? oldData.lastName : null %>"
                                >
                                <% if (locals.errors && errors.lastName) { %>
                                 <div class = "textDanger">
                                     <%= errors.lastName.msg %> 

                                 </div>
                                <% } %>
                            
                        </div>

                        <div class='seccion-add'><label><strong>Imágen de perfil</strong></label><br>
                            <input type="file" name="userPhotos" accept=”.jpg”     class="control"
                        
                        >
                            <% if (locals.errors && errors.userPhotos) { %>
                             <div class = "textDanger">
                                 <%= errors.userPhotos.msg %> 

                             </div>
                            <% } %>
                        </div>

                        
                        <div class="nacimiento-reg"><label><strong>Fecha de Nacimiento</strong></label><br>
                            <input type="date" placeholder="fecha de nacimiento" name="dateBirth"
                                    class="control <%= locals.errors && locals.dateBirth ? is-invalid : null  %> "
                                    value ="<%= locals.oldData ? oldData.dateBirth : null %>"
                                >
                                    <% if (locals.errors && errors.date) { %>
                                     <div class = "textDanger">
                                         <%= errors.dateBirth.msg %> 
    
                                     </div>
                                    <% } %>
                        </div><br>

                            
                        <div class="localidad-reg"> <label><strong>Provincia</strong></label>
                            <select name = "provincia" 
                            class= "control <%= locals.errors && locals.provincia ? is-invalid : null  %>"
                                >
                           <option value=""><strong> Provincia</strong></option><br>
                            
                            <%  
                            let provincias = ["Buenos Aires", "Catamarca", "Chaco", "Chubut", "CABA", "Cordoba", 
                            "Corrientes", "Entre Rios", "Formosa", "Jujuy", "La Pampa", "La Rioja", "Mendoza", "Misiones",
                            "Neuquen", "Rio Negro", "Salta", "San Luis", "Santa Cruz", "Santa Fe", "Santiago del Estero", 
                            "Tierra del Fuego"]
                            %>
                            <% for(const unaProv of provincias) { %>
                                <option 
                                value ="<%=unaProv %>" 
                                <%= locals.oldData && (unaProv === oldData.provincia)? 'selected' : null %>
                                > <%= unaProv %> </option>
                           <% } %>
                            </select>
                                    
                                <% if (locals.errors && errors.provincia) { %>
                                 <div class = "textDanger">
                                     <%= errors.provincia.msg %> 

                                 </div>
                                <% } %>"
                    
                                     
                            </select><br>

                                  
                        <div class="email-reg">  
                            <label><strong>E-mail</strong></label><br>
                            <input type="email" 
                            name="email"
                             placeholder="Por favor ingrese su e-mail" 
                                        class="control    <%= locals.errors && locals.email ? is-invalid : null  %> "
                                        value ="<%= locals.oldData ? oldData.email : null %>"
                                >
                                        <% if (locals.errors && errors.email) { %>
                                         <div class = "textDanger">
                                             <%= errors.email.msg %> 
        
                                         </div>
                                        <% } %>

                        </div><br>


                              
                        <div class="password-reg">  
                            <label><strong>Contraseña</strong></label><br>
                            <input type="password" placeholder="Por favor ingrese su Contraseña" 
                                    name="password" 
                                    class="control    <%= locals.errors && locals.password ? is-invalid : null  %> "
                                    value ="<%= locals.oldData ? oldData.password : null %>"
                                >
                                    <% if (locals.errors && errors.password) { %>
                                     <div class = "textDanger">
                                         <%= errors.password.msg %> 
    
                                     </div>
                                    <% } %>
                        </div><br>


                
                        <div class="confpass-reg"><label><strong>Confirmar contraseña</strong></label><br>
                            <input type="password" placeholder="Por favor confirme su Contraseña" 
                            name="passwordConfirm" class="control    <%= locals.errors && locals.date ? is-invalid : null  %> "
                            value ="<%= locals.oldData ? oldData.passwordConfirm : null %>"
                                >
                            <% if (locals.errors && errors.passwordConfirm) { %>
                             <div class = "textDanger">
                                 <%= errors.passwordConfirm.msg %> 

                             </div>
                            <% } %>

                        </div><br>
          
                        <div class="telefono-reg"><label><strong>Teléfono</strong></label><br>
                            <input type="text" placeholder="Por favor ingrese su número de teléfono" name="phone" 
                            class="control 
                            <%= locals.errors && locals.phone ? is-invalid : null  %> "
                            value ="<%= locals.oldData ? oldData.phone : null %>"
                                >
                            <% if (locals.errors && errors.phone) { %>
                             <div class = "textDanger">
                                 <%= errors.phone.msg %> 

                             </div>
                            <% } %>
                        </div><br>

                        <div class="submit-reg">
                            <button type="submit" class="boton" color=white background-color=black> CREAR CUENTA </button>
                        </div>
                
            </form>
        </section>
       
        <section class="img-registro">
            <img src="/images/zapato-register.jpg" class="foto">
        </section>


    </main>
    <%- include('../partials/footer') %>

    <%- include('../partials/whatsappIcon') %>


</body>

</html>